Repository Mozfo/fleetcore5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

feat(dashboard): persist layout to database via crm_settings
  app/api/v1/dashboard/layout/route.ts
Due: eslint --max-warnings=0, prettier --write

feat(crm): implement rotting opportunity notifications
  lib/services/crm/opportunity-rotting.service.ts
Due: eslint --max-warnings=0, prettier --write

chore(core): update schema, types, config and validators
  lib/config/filter-config.ts
  lib/config/leads-columns.ts
  lib/config/modules.ts
  lib/config/opportunity-columns.ts
  lib/config/opportunity-stages.ts
  lib/config/permissions.ts
  lib/types/activities.ts
  lib/types/dashboard.ts
  lib/types/views.ts
  lib/validators/crm.validators.ts
  lib/validators/crm/lead.validators.ts
  lib/validators/crm/settings.validators.ts
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  tsconfig.json
  types/crm.ts
Due: eslint --max-warnings=0, prettier --write

feat(api): add CRM API routes for leads, settings and cron jobs
  app/api/cron/notifications/process/route.ts
  app/api/cron/opportunities/rotting/route.ts
  app/api/demo-leads/route.ts
  app/api/v1/crm/leads/[id]/route.ts
  app/api/v1/crm/leads/export/route.ts
  app/api/v1/crm/leads/route.ts
  app/api/v1/crm/leads/stats/route.ts
  app/api/v1/crm/settings/[key]/route.ts
  app/api/v1/crm/settings/bulk/route.ts
  app/api/v1/crm/settings/route.ts
Due: eslint --max-warnings=0, prettier --write

feat(crm): add opportunities management UI components
  app/[locale]/(app)/crm/opportunities/loading.tsx
  components/crm/opportunities/KanbanBoard.tsx
  components/crm/opportunities/KanbanCard.tsx
  components/crm/opportunities/KanbanCardSkeleton.tsx
  components/crm/opportunities/KanbanColumn.tsx
  components/crm/opportunities/MarkAsLostModal.tsx
  components/crm/opportunities/MarkAsWonModal.tsx
  components/crm/opportunities/OpportunitiesPageHeader.tsx
  components/crm/opportunities/OpportunitiesTable.tsx
  components/crm/opportunities/OpportunitiesTableRow.tsx
  components/crm/opportunities/OpportunityColumnSelector.tsx
  components/crm/opportunities/OpportunityContextMenu.tsx
  components/crm/opportunities/OpportunityDrawerHeader.tsx
  lib/hooks/useOpportunityColumnPreferences.ts
  lib/hooks/useOpportunityLossReasons.ts
  lib/hooks/useOpportunityStages.ts
  lib/hooks/useOpportunityStatuses.ts
Due: eslint --max-warnings=0, prettier --write

feat(crm): add settings management UI for pipeline config
  app/[locale]/(app)/settings/crm/layout.tsx
  app/[locale]/(app)/settings/crm/loading.tsx
  app/[locale]/(app)/settings/crm/page.tsx
  app/[locale]/(app)/settings/page.tsx
  components/crm/settings/CrmSettingsPageClient.tsx
  components/crm/settings/DealRottingSettings.tsx
  components/crm/settings/LossReasonEditor.tsx
  components/crm/settings/LossReasonsList.tsx
  components/crm/settings/LossReasonsSettingsTab.tsx
  components/crm/settings/PipelinePreview.tsx
  components/crm/settings/PipelineSettingsTab.tsx
  components/crm/settings/RecoveryWorkflowSettings.tsx
  components/crm/settings/types.ts
  lib/repositories/crm/settings.repository.ts
Due: eslint --max-warnings=0, prettier --write

feat(app): add app shell, dashboard and CRM layout
  app/[locale]/(app)/dashboard/page.tsx
  app/[locale]/(app)/layout.tsx
  app/[locale]/(auth)/select-org/page.tsx
  components/app/AppHeader.tsx
  components/app/AppShell.tsx
  components/app/ModulesSidebar.tsx
  components/app/index.ts
  components/app/widgets/StatWidget.tsx
  components/app/widgets/WidgetWrapper.tsx
  components/app/widgets/index.ts
  components/crm/layout/CrmSidebar.tsx
  components/crm/layout/CrmTopBar.tsx
Due: eslint --max-warnings=0, prettier --write

feat(crm): add server actions, hooks and utility services
  lib/actions/crm/activities.actions.ts
  lib/actions/crm/bulk.actions.ts
  lib/actions/crm/convert.actions.ts
  lib/actions/crm/delete.actions.ts
  lib/actions/crm/lead.actions.ts
  lib/actions/crm/opportunity.actions.ts
  lib/actions/crm/qualify.actions.ts
  lib/hooks/useAdvancedFilters.ts
  lib/hooks/useColumnPreferences.ts
  lib/hooks/useFleetSizeOptions.ts
  lib/hooks/useHasPermission.ts
  lib/hooks/useLeadStages.ts
  lib/hooks/useLeadStatuses.ts
  lib/hooks/useSavedViews.ts
  lib/services/notification/index.ts
  lib/services/notification/queue.service.ts
  lib/utils/clerk-uuid-mapper.ts
  lib/utils/score-calculations.ts
Due: eslint --max-warnings=0, prettier --write

feat(i18n): add CRM translations for leads, opportunities and settings
  lib/i18n/locales/en/auth.json
  lib/i18n/locales/en/common.json
  lib/i18n/locales/en/crm.json
  lib/i18n/locales/fr/auth.json
  lib/i18n/locales/fr/common.json
  lib/i18n/locales/fr/crm.json
Due: prettier --write

feat(ui): add shadcn UI components
  components/ui/checkbox.tsx
  components/ui/collapsible.tsx
  components/ui/context-menu.tsx
  components/ui/dialog.tsx
  components/ui/dropdown-menu.tsx
  components/ui/popover.tsx
  components/ui/separator.tsx
  components/ui/sheet.tsx
  components/ui/switch.tsx
  components/ui/table.tsx
  components/ui/tabs.tsx
  components/ui/textarea.tsx
Due: eslint --max-warnings=0, prettier --write

test: add critical path and middleware tests
  __tests__/critical-paths/demo-leads.critical.test.ts
  lib/middleware/__tests__/gdpr.middleware.test.ts
Due: eslint --max-warnings=0, prettier --write

refactor: update auth, emails and animations
  app/[locale]/(auth)/login/page.tsx
  emails/templates/ExpansionOpportunity.tsx
  emails/templates/ExpansionOpportunityFR.tsx
  emails/templates/LeadConfirmation.tsx
  emails/templates/LeadConfirmationFR.tsx
  generated-emails/regenerated-templates.json
  lib/animations/drawer-variants.ts
  lib/animations/kanban-variants.ts
  lib/animations/variants.ts
  lib/logger.ts
  lib/services/crm/lead-creation.service.ts
Due: eslint --max-warnings=0, prettier --write

chore(db): add security migrations and index optimizations
  prisma/migrations/20251123_fix_security_search_path_all_functions.sql
  prisma/migrations/manual/20251123_optimize_rls_FINAL_47_policies.sql
  prisma/migrations/manual/20251123_optimize_rls_auth_initplan.sql
  prisma/migrations/manual/20251123_optimize_rls_auth_initplan_all_52_policies.sql
  prisma/migrations/manual/20251126_add_search_indexes.sql
  prisma/migrations/manual/20251127_add_crm_leads_indexes_perf.sql
  prisma/migrations/manual/20251128_add_adm_notification_queue.sql
  prisma/migrations/manual/FIX_sup_ticket_messages_optimization.sql
  prisma/migrations/manual/ROLLBACK_20251126_add_search_indexes.sql
  prisma/migrations/manual/drop_temp_allow_all_policies.sql
  prisma/migrations/manual/rollback_temp_allow_all_policies.sql
  prisma/migrations/manual/test_tenant_isolation.sql
  prisma/migrations/manual/verify_auth_initplan_47_policies_REAL.sql
  prisma/migrations/manual/verify_auth_initplan_all_52_policies.sql
  prisma/migrations/manual/verify_auth_initplan_optimized.sql
  prisma/migrations/manual/verify_policies_removed.sql
  prisma/migrations/manual/verify_tenant_isolation_exists.sql
  prisma/schema.prisma.before_sync
Due: none

docs: update documentation and configuration
  .gitignore
  .husky/pre-commit
  claude.md
  docs/Plan/CRM_SETTINGS_SPECIFICATION.md
  docs/Plan/Completed/1 - FLEETCORE_PLAN D'EXECUTION INTEGRE CRM & ADMINISTRATION V2.md
  docs/Plan/claude.md
  docs/Reference/SUPABASE_SCHEMA_REFERENCE.md
  vercel.json
Due: prettier --write

chore: cleanup old files and reorganize structure
  app/[locale]/(crm)/crm/leads/page.tsx
  app/[locale]/(crm)/layout.tsx
  app/[locale]/dashboard/layout.tsx
  app/[locale]/dashboard/page.tsx
  docs/Plan/1 - FLEETCORE_PLAN D'EXECUTION INTEGRE CRM & ADMINISTRATION V2.md
  docs/Plan/NOTIFICATION_SERVICE_ALGORITHM.md
  docs/Plan/RAPPORT_FINAL_SECURITE_DATABASE_20251123.md
  docs/Plan/SETTINGS_PATTERN.md
  middleware.ts.orig
  package.json.backup_6.16.2
  pnpm-lock.yaml.backup_6.16.2
  scripts/migrate_supabase_v1_to_v2_auto.sh.backup
  scripts/test-10-arabic-emails.ts
  scripts/test-10-french-emails.ts
  scripts/test-all-emails.ts
  scripts/test-audit-e2e.ts
  scripts/test-audit-manual.ts
  scripts/test-batch1-emails.ts
  scripts/test-batch3-staging.ts
  scripts/test-cid-logo.ts
  scripts/test-complete-coverage.ts
  scripts/test-email-send.ts
  scripts/test-french-email.ts
  scripts/test-locale-cascade.ts
  scripts/test-pilot-ar.ts
  scripts/test-validation-sortby.ts
Due: eslint --max-warnings=0, prettier --write

fix(eslint): add _archive to ignores for build compatibility
  eslint.config.mjs
Due: none

fix(vercel): change cron to every 5 minutes (Hobby plan limit)
  vercel.json
Due: prettier --write

Revert "fix(vercel): change cron to every 5 minutes (Hobby plan limit)"
  vercel.json
Due: prettier --write

fix(scripts): remove references to deleted test scripts
  package.json
Due: prettier --write

fix(ci): remove api-tests workflow that references deleted scripts
  .github/workflows/api-tests.yml
Due: none

fix(ci): restore workflow with vitest instead of deleted batch3
  .github/workflows/api-tests.yml
Due: none

fix(tests): correct 10 CI test failures
  .github/workflows/api-tests.yml
  lib/middleware/__tests__/gdpr.middleware.test.ts
  lib/services/notification/__tests__/notification.service.integration.test.ts
  lib/services/notification/__tests__/notification.service.test.ts
  lib/validators/__tests__/crm.validators.test.ts
Due: eslint --max-warnings=0, prettier --write

test: verify auto-deploy
  next.config.ts
Due: eslint --max-warnings=0, prettier --write

test: auto-deploy
  next.config.ts
Due: eslint --max-warnings=0, prettier --write

test: manual webhook
  next.config.ts
Due: eslint --max-warnings=0, prettier --write

fix(vercel): set cron to daily schedule (Hobby plan limit)
  vercel.json
Due: prettier --write

security: upgrade Next.js 15.5.7 & React 19.1.2 (CVE-2025-55182)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: archive obsolete scripts and add TECH_DEBT.md
  docs/TECH_DEBT.md
  scripts/_archived/add-expansion-to-seed.ts
  scripts/_archived/audit-all-templates-final.ts
  scripts/_archived/check-delivered-logs.ts
  scripts/_archived/check-duplicate-email.ts
  scripts/_archived/check-es-country.ts
  scripts/_archived/check-expansion-template.ts
  scripts/_archived/check-notification-logs.ts
  scripts/_archived/check-priority-in-fr.ts
  scripts/_archived/check-uae.ts
  scripts/_archived/count-templates.ts
  scripts/_archived/decode-test-jwt.ts
  scripts/_archived/fix-priority-final.ts
  scripts/_archived/fix-sales-rep-fr.ts
  scripts/_archived/manual-update-seed-templates.ts
  scripts/_archived/regenerate-all-templates.ts
  scripts/_archived/seed-priority-config.ts
  scripts/_archived/update-db-with-fixed-templates.ts
  scripts/_archived/verify-audit-logs.ts
Due: eslint --max-warnings=0, prettier --write

refactor: resolve 17 TODOs in lib/services/ (89% reduction)
  docs/TECH_DEBT.md
  lib/services/documents/document.service.ts
  lib/services/email/email.service.ts
  lib/services/notification/queue.service.ts
  lib/services/vehicles/vehicle.service.ts
Due: eslint --max-warnings=0, prettier --write

refactor(auth): migrate console.log to Pino logger in jwt.ts
  lib/auth/jwt.ts
Due: eslint --max-warnings=0, prettier --write

docs: update TECH_DEBT.md - jwt.ts migrated to logger
  docs/TECH_DEBT.md
Due: prettier --write

feat(crm): Sprint 1.2 - Lead Score Recalculation
  app/api/v1/crm/leads/[id]/recalculate/route.ts
  docs/CODE_QUALITY_REPORT.md
  lib/actions/crm/activities.actions.ts
  lib/repositories/crm/__tests__/lead.repository.test.ts
  lib/services/crm/__tests__/lead-creation.service.test.ts
  lib/services/crm/__tests__/lead-scoring.service.integration.test.ts
  lib/services/crm/__tests__/lead-scoring.service.test.ts
  lib/services/crm/lead-scoring.service.ts
  prisma/schema.prisma
  scripts/degrade-inactive-leads.ts
  supabase/migrations/20251205_add_last_activity_at.sql
  supabase/migrations/20251205_add_score_decay_setting.sql
  supabase/migrations/20251205_sprint_1_2_complete.sql
Due: eslint --max-warnings=0, prettier --write

fix(tests): align test expectations with Prisma schema
  lib/actions/crm/__tests__/agreements.actions.test.ts
  lib/actions/crm/__tests__/orders.actions.test.ts
  lib/actions/crm/__tests__/quote.actions.test.ts
  lib/validators/__tests__/crm.validators.test.ts
  lib/validators/crm/__tests__/quote.validators.test.ts
Due: eslint --max-warnings=0, prettier --write

refactor(homepage): remove Car Rental references from homepage
  app/[locale]/page.tsx
  lib/i18n/locales/en/common.json
  lib/i18n/locales/fr/common.json
Due: eslint --max-warnings=0, prettier --write

fix(types): align QuoteSummary type with nullable opportunity_id
  lib/repositories/crm/__tests__/lead.repository.test.ts
  lib/repositories/crm/quote.repository.ts
  lib/services/crm/__tests__/lead-creation.service.test.ts
  lib/services/crm/quote.service.ts
  lib/types/crm/lead.types.ts
Due: eslint --max-warnings=0, prettier --write

chore: update schema, docs, and add admin user script
  claude.md
  docs/Plan/FLEETCORE_CRM_SPECIFICATION_V6_2_FINAL.md
  docs/Plan/Opportunity pipeline /FLEETCORE_CRM_OPPORTUNITY_PIPELINE_SPEC_V4_FINAL.md
  prisma/schema.prisma
  scripts/create-admin-user.ts
Due: eslint --max-warnings=0, prettier --write

refactor(homepage): extract components from monolithic page.tsx
  app/[locale]/page.tsx
  components/homepage/LiveDashboard.tsx
  components/homepage/Navigation.tsx
  components/homepage/index.ts
  components/shared/Footer.tsx
  components/shared/index.ts
  lib/data/dashboard-mock.ts
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css})
