Repository Mozfo/fleetcore5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=0", "prettier --write"],
  "*.{json,md,css}": ["prettier --write"]
}

refactor(api): migrate vehicles/:id/maintenance/:maintenanceId to centralized error handling
  app/api/v1/vehicles/[id]/maintenance/[maintenanceId]/route.ts
Due: eslint --max-warnings=0, prettier --write

refactor(api): migrate vehicles/:id/expenses to centralized error handling
  app/api/v1/vehicles/[id]/expenses/route.ts
Due: eslint --max-warnings=0, prettier --write

refactor(api): migrate vehicles/:id/maintenance to centralized error handling
  app/api/v1/vehicles/[id]/maintenance/route.ts
Due: eslint --max-warnings=0, prettier --write

refactor(api): migrate drivers/:id/requests to centralized error handling
  app/api/v1/drivers/[id]/requests/route.ts
Due: eslint --max-warnings=0, prettier --write

refactor(api): migrate drivers/:id/documents/verify to centralized error handling
  app/api/v1/drivers/[id]/documents/verify/route.ts
Due: eslint --max-warnings=0, prettier --write

refactor(api): migrate drivers/:id/documents to centralized error handling
  app/api/v1/drivers/[id]/documents/route.ts
Due: eslint --max-warnings=0, prettier --write

fix(tests): resolve 6 ESLint violations in error-handler tests
  lib/api/__tests__/error-handler.test.ts
Due: eslint --max-warnings=0, prettier --write

fix(api): remove unnecessary type assertion in isPrismaError
  lib/api/error-handler.ts
Due: eslint --max-warnings=0, prettier --write

fix(api): align directory/countries GET with standard auth pattern
  app/api/v1/directory/countries/route.ts
Due: eslint --max-warnings=0, prettier --write

fix(api): align directory/platforms GET with standard auth pattern
  app/api/v1/directory/platforms/route.ts
Due: eslint --max-warnings=0, prettier --write

fix(api): align directory/vehicle-classes GET with standard auth pattern
  app/api/v1/directory/vehicle-classes/route.ts
Due: eslint --max-warnings=0, prettier --write

feat(ci): add GitHub Actions workflow for API tests
  .env.test.example
  .github/workflows/api-tests.yml
  docs/operations/CI_CD_SETUP.md
Due: prettier --write

fix(ci): update pnpm version to 10
  .github/workflows/api-tests.yml
Due: none

fix(ci): use exact pnpm version 10.18.0 for lockfile compatibility
  .github/workflows/api-tests.yml
Due: none

chore: update pnpm-lock.yaml with jwt-decode and @clerk/backend
  pnpm-lock.yaml
Due: none

chore: add packageManager field for pnpm version consistency
  package.json
Due: prettier --write

fix(ci): resolve pnpm lockfile compatibility error in GitHub Actions
  .github/workflows/api-tests.yml
  docs/operations/CI_CD_SETUP.md
Due: prettier --write

fix(ci): add missing validation.ts module for TypeScript build
  lib/core/validation.ts
Due: eslint --max-warnings=0, prettier --write

feat(ci): add workflow_dispatch trigger for manual workflow runs
  .github/workflows/api-tests.yml
Due: none

fix(ci): add missing AuditAction types for validation_failed and ip_blocked
  lib/audit.ts
Due: eslint --max-warnings=0, prettier --write

feat(ci): add missing test infrastructure for GitHub Actions
  lib/testing/clerk-test-auth.ts
  scripts/test-batch3-staging.ts
Due: eslint --max-warnings=0, prettier --write

fix(ci): use @clerk/backend for standalone Node.js environment
  lib/testing/clerk-test-auth.ts
Due: eslint --max-warnings=0, prettier --write

debug(ci): add logging to diagnose Clerk secret key issue
  lib/testing/clerk-test-auth.ts
Due: eslint --max-warnings=0, prettier --write

fix(ci): use environment variables directly instead of dotenv
  .github/workflows/api-tests.yml
  lib/testing/clerk-test-auth.ts
  package.json
Due: eslint --max-warnings=0, prettier --write

debug(ci): add detailed logging for Clerk secret key format validation
  lib/testing/clerk-test-auth.ts
Due: eslint --max-warnings=0, prettier --write

feat(ci): start Next.js server before running API tests
  .github/workflows/api-tests.yml
  scripts/wait-for-server.sh
Due: none

fix(middleware): handle both orgId and org_id JWT claim formats
  middleware.ts
Due: eslint --max-warnings=0, prettier --write

fix(ci): create test-results directory for CI artifacts
  docs/test-results/.gitkeep
Due: none

fix(tests): map Clerk orgId to tenant UUID for database operations
  lib/testing/clerk-test-auth.ts
Due: eslint --max-warnings=0, prettier --write

feat(auth): implement Vercel KV tenant mapping with fallback API
  app/api/internal/tenant-lookup/route.ts
  app/api/webhooks/clerk/route.ts
  docs/architecture/TENANT_MAPPING_IMPLEMENTATION_PLAN.md
  docs/architecture/TENANT_MAPPING_SOLUTION_ANALYSIS.md
  lib/cache/__mocks__/tenant-mapping.ts
  lib/cache/tenant-mapping.ts
  middleware.ts
  package.json
  pnpm-lock.yaml
  scripts/backfill-tenant-cache.ts
Due: eslint --max-warnings=0, prettier --write

fix(ci): add Vitest KV mocks for CI environment
  vitest.config.ts
  vitest.setup.ts
Due: eslint --max-warnings=0, prettier --write

refactor(auth): rollback to JWT Custom Claims (Clerk best practice)
  app/api/internal/tenant-lookup/route.ts
  app/api/webhooks/clerk/route.ts
  lib/cache/__mocks__/tenant-mapping.ts
  lib/cache/tenant-mapping.ts
  middleware.ts
  package.json
  pnpm-lock.yaml
  scripts/backfill-tenant-cache.ts
  vitest.config.ts
  vitest.setup.ts
Due: eslint --max-warnings=0, prettier --write

fix(tests): resolve RBAC, HTTP 409, and 500 errors
  docs/test-results/batch3-test-results.json
  lib/api/error-handler.ts
  lib/repositories/vehicle.repository.ts
  lib/services/directory/directory.service.ts
  lib/testing/clerk-test-auth.ts
Due: eslint --max-warnings=0, prettier --write

fix(prisma): enable singleton pattern in production to prevent connection pool exhaustion
  .github/workflows/api-tests.yml
  lib/prisma.ts
Due: eslint --max-warnings=0, prettier --write

fix(tests): handle P2002 race condition in test member creation
  lib/testing/clerk-test-auth.ts
Due: eslint --max-warnings=0, prettier --write

fix(prisma): remove datasource override to use schema.prisma config
  lib/prisma.ts
Due: eslint --max-warnings=0, prettier --write

fix(ci): add RESEND_API_KEY to workflow environment
  .github/workflows/api-tests.yml
Due: none

feat(schema): migrate dir_car_makes from V1 (5 cols) to V2 (18 cols)
  prisma/schema.prisma
Due: none
