Repository Mozfo/fleetcore5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

Revert: remove V2 columns from dir_car_makes - schema must match production
  prisma/schema.prisma
Due: none

feat(prisma): add baseline migration 0_init for AWS migration portability
  prisma/migrations/0_init/migration.sql
Due: none

backup: Save V1 schema before migration
  prisma/schema.prisma.v1.backup
Due: none

feat(prep): Add all V2 Prisma modules
  prisma/enums/shared.prisma
  prisma/modules/adm.prisma
  prisma/modules/bil.prisma
  prisma/modules/crm.prisma
  prisma/modules/dir.prisma
  prisma/modules/doc.prisma
  prisma/modules/fin.prisma
  prisma/modules/flt.prisma
  prisma/modules/rev.prisma
  prisma/modules/rid.prisma
  prisma/modules/sch.prisma
  prisma/modules/sup.prisma
  prisma/modules/trp.prisma
Due: none

feat(stream-1): Setup prismaSchemaFolder structure for Stream 1 ADM
  package.json
  prisma/schema/adm.prisma
  prisma/schema/bil.prisma.stream9
  prisma/schema/crm.prisma.stream3
  prisma/schema/dir.prisma.stream2
  prisma/schema/doc.prisma.stream4
  prisma/schema/fin.prisma.stream10
  prisma/schema/flt.prisma.stream12
  prisma/schema/rev.prisma.stream8
  prisma/schema/rid.prisma.stream11
  prisma/schema/sch.prisma.stream6
  prisma/schema/schema.prisma
  prisma/schema/shared.prisma
  prisma/schema/sup.prisma.stream5
  prisma/schema/trp.prisma.stream7
Due: prettier --write

chore(prisma): fix versions to 6.18.0 (sync package.json with installed)
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(crm): remove full_name column, standardize to first_name/last_name
  app/[locale]/(public)/request-demo/request-demo-form.tsx
  app/adm/leads/[id]/page.tsx
  app/adm/leads/components/LeadsList.tsx
  app/adm/leads/page.tsx
  app/api/demo-leads/[id]/route.ts
  app/api/demo-leads/route.ts
  lib/i18n/locales/en/public.json
  lib/i18n/locales/fr/public.json
  lib/services/notification/__tests__/notification.service.integration.test.ts
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --max-warnings=0, prettier --write

fix(notification): add missing notification service implementation
  lib/services/notification/README.md
  lib/services/notification/__tests__/notification.service.test.ts
  lib/services/notification/notification.service.ts
Due: eslint --max-warnings=0, prettier --write

fix(ci): generate integration Prisma client before typecheck
  .github/workflows/api-tests.yml
Due: none

fix(ci): create docs/test-results directory for test artifacts
  docs/test-results/.gitkeep
Due: none

docs: update claude.md with Session #21 and database migration strategy
  docs/Plan/claude.md
Due: prettier --write

fix(ci): add DIRECT_URL to GitHub Actions environment
  .github/workflows/api-tests.yml
Due: none

fix(tests): resolve GET /drivers timeout and OR clause conflict
  lib/services/drivers/driver.service.ts
  prisma/seed.ts
  scripts/test-batch3-staging.ts
Due: eslint --max-warnings=0, prettier --write

fix(ci): use direct database connection instead of pooler for Prisma queries
  .github/workflows/api-tests.yml
Due: none

feat(crm): Add validators, seed data & fix cooperation_type
  lib/validators/__tests__/crm.validators.test.ts
  lib/validators/crm.validators.ts
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --max-warnings=0, prettier --write

Add FleetCore logo for email templates
  public/fleetcore-logo.jpg
Due: none

fix(lint): resolve all ESLint and TypeScript errors
  eslint.config.mjs
  scripts/count-templates.ts
  scripts/regenerate-templates-from-react-email.ts
  scripts/test-cid-logo.ts
  test-real-tenant.ts
Due: eslint --max-warnings=0, prettier --write

fix(vercel): force dynamic rendering for request-demo page
  app/[locale]/(public)/request-demo/page.tsx
Due: eslint --max-warnings=0, prettier --write

fix(prisma): use singleton PrismaClient instead of creating new instances
  app/api/demo-leads/route.ts
  lib/repositories/country-locale.repository.ts
  lib/repositories/notification-log.repository.ts
  lib/repositories/notification-template.repository.ts
Due: eslint --max-warnings=0, prettier --write

feat(crm): add duplicate email handling with i18n error messages
  app/[locale]/(public)/request-demo/request-demo-form.tsx
  app/api/demo-leads/route.ts
  lib/i18n/locales/en/public.json
  lib/i18n/locales/fr/public.json
  scripts/check-duplicate-email.ts
  scripts/check-es-country.ts
  scripts/check-expansion-template.ts
Due: eslint --max-warnings=0, prettier --write

chore: cleanup old test scripts and backup files
  generated-emails/expansion-opportunity.html
  prisma/schema.prisma.backup-1763202438
  prisma/seed.ts.backup-1763814944573
  prisma/seed.ts.backup-1763815062798
  prisma/seed.ts.backup-1763815671584
  prisma/seed.ts.backup-1763815717176
  scripts/audit-templates.ts
  scripts/cleanup-test-leads.ts
  scripts/delete-test-lead.ts
  scripts/send-all-test-emails.ts
  scripts/test-all-languages.ts
  scripts/test-email-3-countries.ts
  scripts/test-english-prepositions.ts
  scripts/test-expansion-flow.ts
  scripts/test-germany-lead.ts
  scripts/test-optional-fields.ts
  scripts/test-qatar-expansion.ts
  scripts/update-phone-message-templates.ts
  scripts/update-seed-templates.ts
  scripts/verify-phone-message-update.ts
Due: eslint --max-warnings=0, prettier --write

fix(typescript): resolve type errors after field renaming and template updates
  app/adm/leads/[id]/page.tsx
  app/adm/leads/components/LeadsList.tsx
  app/adm/leads/page.tsx
  lib/repositories/crm/__tests__/lead.repository.test.ts
  lib/services/crm/__tests__/lead-creation.service.test.ts
  scripts/generate-email-templates.ts
  scripts/generate-expansion-templates.ts
  scripts/test-complete-coverage.ts
Due: eslint --max-warnings=0, prettier --write

fix(api): update field references from demo_company_name to company_name
  app/api/demo-leads/[id]/accept/route.ts
  app/api/demo-leads/[id]/route.ts
Due: eslint --max-warnings=0, prettier --write

docs(security): update database security report - 0 Supabase warnings confirmed
  docs/Plan/RAPPORT_FINAL_SECURITE_DATABASE_20251123.md
Due: prettier --write

feat(crm): implement GDPR & expansion logic (Sprint 1.1 B2)
  docs/Plan/claude.md
  lib/repositories/crm/__tests__/lead.repository.test.ts
  lib/repositories/crm/country.repository.ts
  lib/services/crm/__tests__/country.service.test.ts
  lib/services/crm/__tests__/lead-creation.service.test.ts
  lib/services/crm/__tests__/lead-scoring.service.test.ts
  lib/services/crm/country.service.ts
  lib/services/crm/index.ts
  lib/services/crm/lead-creation.service.ts
  lib/services/crm/lead-scoring.service.ts
  lib/validators/crm/lead.validators.ts
  prisma/schema.prisma
Due: eslint --max-warnings=0, prettier --write

fix(gdpr): rollback to direct Prisma + inline GDPR validation
  app/[locale]/(public)/request-demo/page.tsx
  app/[locale]/(public)/request-demo/request-demo-form.tsx
  app/api/demo-leads/route.ts
  components/forms/GdprConsentField.tsx
  components/forms/__tests__/GdprConsentField.test.tsx
  docs/GDPR_RULES.md
  hooks/__tests__/useGdprValidation.test.ts
  hooks/useGdprValidation.ts
  lib/i18n/locales/en/common.json
  lib/i18n/locales/fr/common.json
  lib/middleware/gdpr.middleware.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
  vitest.setup.ts
Due: eslint --max-warnings=0, prettier --write

docs: add Session #27 to CLAUDE.md
  docs/Plan/claude.md
Due: prettier --write

feat(crm): implement Kanban leads page with client-side filtering
  app/[locale]/(crm)/crm/leads/page.tsx
  app/[locale]/(crm)/layout.tsx
  app/api/v1/crm/leads/[id]/route.ts
  app/api/v1/crm/leads/route.ts
  components/crm/leads/EmptyColumn.tsx
  components/crm/leads/KanbanBoard.tsx
  components/crm/leads/KanbanCard.tsx
  components/crm/leads/KanbanColumn.tsx
  components/crm/leads/LeadCardSkeleton.tsx
  components/crm/leads/LeadsFilterBar.tsx
  components/crm/leads/LeadsPageClient.tsx
  components/crm/leads/LeadsPageHeader.tsx
  components/crm/leads/utils/lead-utils.ts
  components/ui/empty-state.tsx
  components/ui/progress-bar.tsx
  components/ui/skeleton.tsx
  components/ui/stat-card.tsx
  lib/animations/kanban-variants.ts
  lib/i18n/locales/en/crm.json
  lib/i18n/locales/fr/crm.json
  types/crm.ts
Due: eslint --max-warnings=0, prettier --write

fix(validators): add UpdateLeadSchema export for lead detail API
  lib/validators/crm/lead.validators.ts
Due: eslint --max-warnings=0, prettier --write

fix(schema): sync adm_provider_employees fields with database
  prisma/schema.prisma
Due: none

fix: sync all services with schema changes (first_name/last_name)
  lib/core/__tests__/fixtures/postgresql-integration-setup.ts
  lib/services/crm/__tests__/lead-assignment.service.test.ts
  lib/services/crm/__tests__/lead-creation.service.test.ts
  lib/services/crm/lead-assignment.service.ts
  lib/services/crm/lead-creation.service.ts
  middleware.ts
  package.json
  prisma/seed.ts
Due: eslint --max-warnings=0, prettier --write

fix(lint): remove unused imports and fix React hooks warnings
  app/[locale]/(app)/crm/leads/browser/page.tsx
  app/[locale]/(app)/crm/opportunities/page.tsx
  app/api/v1/crm/opportunities/[id]/route.ts
  components/app/widgets/DashboardGrid.tsx
  components/crm/leads/QualifyModal.tsx
  components/crm/opportunities/OpportunitiesFilterBar.tsx
  components/crm/opportunities/OpportunitiesPageClient.tsx
  components/crm/opportunities/OpportunityDrawer.tsx
  lib/hooks/useDashboardLayout.ts
  middleware.ts
  scripts/seed-crm-settings.ts
Due: eslint --max-warnings=0, prettier --write

feat(security): add Svix signature verification to Resend webhook
  app/api/webhooks/resend/route.ts
Due: eslint --max-warnings=0, prettier --write

feat(api): add POST /api/v1/crm/opportunities endpoint
  app/api/v1/crm/opportunities/route.ts
  lib/validators/crm/opportunity.validators.ts
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css})
